canvas {
	width: 100%;
	height: 100%;
	background: black;
	/*color: white;*/
}

body, html  {
	height: 100%;
	margin: 0;
}

#instr {
	color: white;
}

#hint {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #hint .message {
  	width: 100%;
   /* display: inline-block;*/
    /*background: white;*/
    /*color: #666666;*/
    color: white;
    /*font-family: "Lucida Grande", verdana, sans-serif;*/
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 62px;
    line-height: 32px;
    border-radius: 10.56px;
/*    padding: 26px 26px;*/ }

    .hide{
    	display: none;
    }